* {
  margin: 0
  box-sizing: border-box; 
}

body{
    width: 100vw;
    height: 100vh;
    font-family: //------insert font
}

.container {
    padding: 6vh 6vw//INsert padding to your liking, first number is vertical second is horizontal;    
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        font-weight: normal;
        font-size: 32px;
	    text-align: left;
        margin-top: 50px;
    }
    
h2 {
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        font-weight: normal;
        font-size: 32px;
	    text-align: left;
        margin-top: 50px;
        margin-left: 50px;
	}

a {
  color: black;
  margin-left: 50px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: dimgrey
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

p {
  color: black;
    font-family: 'Benton-Sans', sans-serif;
    font-weight: normal;
    font-size: 32px;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    
}
