* {
  margin: 0
  box-sizing: border-box; 
}

body{
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: center;
}

h1 {
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        font-weight: normal;
        font-size: 32px;
	    text-align: left;
        margin-top: 50px;
    }
    
h2 {
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        font-weight: normal;
        font-size: 96px;
	    text-align: left;
        margin-top: 50px;
        margin-left: 50px;
	}

a {
  color: black;
  margin-left: 50px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: dimgrey
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

p {
  color: black;
    font-family: 'Benton-Sans', sans-serif;
    font-weight: normal;
    font-size: 23px;
    text-align: center;
    margin-top: 50px;
}

input[type=text], select, textarea {
  font-family: "Courier New";  width: 50%; 
  padding: 12px; 
  border: 35px 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 10px;
  margin-bottom: 10px; 
  resize: vertical 
}


input[type=submit] {
  font-family: "Courier New";
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  font-family: "Courier New";
  border-radius: 5px;
  padding: 50px;
  text-align: center;
}