* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedOblique.eot');
    src: local('Futura LT Condensed Medium Oblique'), local('FuturaLT-CondensedOblique'),
        url('FuturaLT-CondensedOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedOblique.woff2') format('woff2'),
        url('FuturaLT-CondensedOblique.woff') format('woff'),
        url('FuturaLT-CondensedOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Light.eot');
    src: local('Futura LT Light'), local('FuturaLT-Light'),
        url('FuturaLT-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Light.woff2') format('woff2'),
        url('FuturaLT-Light.woff') format('woff'),
        url('FuturaLT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-ExtraBold.eot');
    src: local('Futura LT Extra Bold'), local('FuturaLT-ExtraBold'),
        url('FuturaLT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-ExtraBold.woff2') format('woff2'),
        url('FuturaLT-ExtraBold.woff') format('woff'),
        url('FuturaLT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-ExtraBoldOblique.eot');
    src: local('Futura LT Extra Bold Oblique'), local('FuturaLT-ExtraBoldOblique'),
        url('FuturaLT-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-ExtraBoldOblique.woff2') format('woff2'),
        url('FuturaLT-ExtraBoldOblique.woff') format('woff'),
        url('FuturaLT-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-LightOblique.eot');
    src: local('Futura LT Light Oblique'), local('FuturaLT-LightOblique'),
        url('FuturaLT-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-LightOblique.woff2') format('woff2'),
        url('FuturaLT-LightOblique.woff') format('woff'),
        url('FuturaLT-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Condensed.eot');
    src: local('Futura LT Condensed Medium'), local('FuturaLT-Condensed'),
        url('FuturaLT-Condensed.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Condensed.woff2') format('woff2'),
        url('FuturaLT-Condensed.woff') format('woff'),
        url('FuturaLT-Condensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Book.eot');
    src: local('Futura LT Book'), local('FuturaLT-Book'),
        url('FuturaLT-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Book.woff2') format('woff2'),
        url('FuturaLT-Book.woff') format('woff'),
        url('FuturaLT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Oblique.eot');
    src: local('Futura LT Medium Oblique'), local('FuturaLT-Oblique'),
        url('FuturaLT-Oblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Oblique.woff2') format('woff2'),
        url('FuturaLT-Oblique.woff') format('woff'),
        url('FuturaLT-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedExtraBold.eot');
    src: local('Futura LT Condensed Extra Bold'), local('FuturaLT-CondensedExtraBold'),
        url('FuturaLT-CondensedExtraBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedExtraBold.woff2') format('woff2'),
        url('FuturaLT-CondensedExtraBold.woff') format('woff'),
        url('FuturaLT-CondensedExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT.eot');
    src: local('Futura LT Medium'), local('FuturaLT'),
        url('FuturaLT.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT.woff2') format('woff2'),
        url('FuturaLT.woff') format('woff'),
        url('FuturaLT.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedLightObl.eot');
    src: local('Futura LT Condensed Light Oblique'), local('FuturaLT-CondensedLightObl'),
        url('FuturaLT-CondensedLightObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedLightObl.woff2') format('woff2'),
        url('FuturaLT-CondensedLightObl.woff') format('woff'),
        url('FuturaLT-CondensedLightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-BookOblique.eot');
    src: local('Futura LT Book Oblique'), local('FuturaLT-BookOblique'),
        url('FuturaLT-BookOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-BookOblique.woff2') format('woff2'),
        url('FuturaLT-BookOblique.woff') format('woff'),
        url('FuturaLT-BookOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondExtraBoldObl.eot');
    src: local('Futura LT Condensed Extra Bold Oblique'), local('FuturaLT-CondExtraBoldObl'),
        url('FuturaLT-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondExtraBoldObl.woff2') format('woff2'),
        url('FuturaLT-CondExtraBoldObl.woff') format('woff'),
        url('FuturaLT-CondExtraBoldObl.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-HeavyOblique.eot');
    src: local('Futura LT Heavy Oblique'), local('FuturaLT-HeavyOblique'),
        url('FuturaLT-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-HeavyOblique.woff2') format('woff2'),
        url('FuturaLT-HeavyOblique.woff') format('woff'),
        url('FuturaLT-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-BoldOblique.eot');
    src: local('Futura LT Bold Oblique'), local('FuturaLT-BoldOblique'),
        url('FuturaLT-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-BoldOblique.woff2') format('woff2'),
        url('FuturaLT-BoldOblique.woff') format('woff'),
        url('FuturaLT-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedBoldOblique.eot');
    src: local('Futura LT Condensed Bold Oblique'), local('FuturaLT-CondensedBoldOblique'),
        url('FuturaLT-CondensedBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedBoldOblique.woff2') format('woff2'),
        url('FuturaLT-CondensedBoldOblique.woff') format('woff'),
        url('FuturaLT-CondensedBoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedLight.eot');
    src: local('Futura LT Condensed Light'), local('FuturaLT-CondensedLight'),
        url('FuturaLT-CondensedLight.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedLight.woff2') format('woff2'),
        url('FuturaLT-CondensedLight.woff') format('woff'),
        url('FuturaLT-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Bold.eot');
    src: local('Futura LT Bold'), local('FuturaLT-Bold'),
        url('FuturaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Bold.woff2') format('woff2'),
        url('FuturaLT-Bold.woff') format('woff'),
        url('FuturaLT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-Heavy.eot');
    src: local('Futura LT Heavy'), local('FuturaLT-Heavy'),
        url('FuturaLT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-Heavy.woff2') format('woff2'),
        url('FuturaLT-Heavy.woff') format('woff'),
        url('FuturaLT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedBold.eot');
    src: local('Futura LT Condensed Bold'), local('FuturaLT-CondensedBold'),
        url('FuturaLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
        url('FuturaLT-CondensedBold.woff2') format('woff2'),
        url('FuturaLT-CondensedBold.woff') format('woff'),
        url('FuturaLT-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}




body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedBold.woff') format('woff');
    background-color:rgb(236, 192, 200);
}

header {
    font-family: 'Futura LT';
    src: url('FuturaLT-CondensedExtraBold.woff') format('woff');
    width: 100vw; 
    display: flex; 
    padding: 50px;
    background-color:white;
}

header h1{
    display: inline-block;
    margin:0 2.5vw;
    font-size: 32px;
    flex:0;
}
header h1.first {
    margin-left:0;
}

header .spacer {
    width: auto;
    flex: 50%;
    flex-wrap: wrap;
}

header img.icon{
    height: 2.5em; 
    width: 2.5em;
    margin: 2px 10px;
    flex:0;
    background-color: none;
}

a img:last-child {
    display: none;  
  }

a:hover img:last-child {
    display: block;  
}

a:hover img:first-child {
    display: none;  
}

.container {
    width: 100vw;
    padding: 50px;    
    display: flex;
    flex: 2;
    align-items: stretch;
}

.container-1 {
    width: 100vw;
    padding: 50px;    
    display: flex;
    flex: 1;
}

.container-2 {
    width: 50%;
    padding-bottom: 50px; 
    display: flex;
}

.container-2 img {
    max-width: 100%;
    max-height: 100%;
    align-self: auto;
}

.panel {
    width: 33vw;
    padding: 25px;
    flex: 0.33;    
    background: rgba(255, 255, 255, 0.7);
}

.cover {
    background: url(vector_animation.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.background {
    background: url(dreamy.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    font-size: 32px;   
}

h1.heading {
    width: 100vw;
    text-align: center;
    font-size: 32px;   
}
    
h2 {  
    font-size: 32px;
    margin-top: 50px;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited { 
    color: black;
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: rgb(82, 24, 53);
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a.linked {
    color: rgb(82, 24, 53);
    text-decoration: underline;
}

a.label {
    font-size: 32px; 
}

p { 
    font-size: 30px; 
}

p.intro {
    text-align: center;
}

p.small {
    font-size: 12px;
    text-align: center;
}

p.summary {
    margin-left: 20px;
    font-size: 22px;
}

p.summary-1 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
}

img.preview{
    height: 20em; 
    width: 27em;
    margin: 0px;
    flex:0;
    margin-right: 6px
}

.gallery {
    width: 50%;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.iframe-wrap {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    height: 100%;
}

.dark-mode {
    background-color: rgb(49, 37, 47);
    color: white;
}
.dark-mode header{
    background-color: rgba(0, 0, 0, 0.7);
}
.dark-mode .panel {
    background: rgba(0, 0, 0, 0.7);
}
.dark-mode a {
    color: white;
}
.button {
    border: none;   
    background-color: transparent;
}

#icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

#footer {
    width: 100%;
    display: block;
    position:absolute;
    bottom: 0;
    text-align: center;
    height: 2.5rem; 
}

@media (min-width: 800px) {    
    .about-image img {
        display: inline-flex; 
        padding-left: 50px;
        width: 400px;
        position: relative;
        flex: 0;
    }
}

@media (max-width: 900px) {    
    .about-image img {
        width: 100%;
        display: block; 
        padding-top: 50px;
        padding-left: 20%;
        padding-right: 20%;
        position: relative;
        flex: 0;
    }
    .container { flex-wrap: wrap; width: 100%; }
    .container-1 { flex-wrap: wrap;} 
    .container-2 { flex-wrap: wrap;  width: 100%;} 
    header { display: block; }
    .spacer {padding-bottom: 50px;}
    .icon { display:inline-block; }
    #icons {
        justify-content: space-evenly;
    }
    .navbar {
        justify-content: center;
    }
    .panel { flex-basis: 100%; width: 100%;}
}

@media (max-width: 500px) {
    .about-image img{
        width: 100%;
        display: block; 
        padding-top: 50px;
        padding-left: 0%;
        padding-right: 0%;
        position: relative;
        flex: 0;
    }
    .container { flex-wrap: wrap; width: 100%; }
    .container-1 { flex-wrap: wrap;} 
    .container-2 { flex-wrap: wrap;  width: 100%;} 
    header { display: block; }
    .spacer {padding-bottom: 50px;}
    .icon { display:inline-block; }

}




