    head {
        background-color: pink;
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        Font-weight: normal;
        font-size: 64;
	    text-align: left;
    }
    
    h1 {
        background-color: pink;
	    color: black;
        font-family: 'Benton-Sans', sans-serif;
        Font-weight: normal;
        font-size: 300;
	    text-align: left;
	}